<h1>Listing ergos</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Split</th>
      <th>Time</th>
      <th>Rate</th>
      <th>Distance</th>
      <th>Hr</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ergos.each do |ergo| %>
      <tr>
        <td><%= ergo.description %></td>
        <td><%= ergo.split %></td>
        <td><%= ergo.time %></td>
        <td><%= ergo.rate %></td>
        <td><%= ergo.distance %></td>
        <td><%= ergo.hr %></td>
        <td><%= ergo.notes %></td>
        <td><%= link_to 'Show', ergo %></td>
        <td><%= link_to 'Edit', edit_ergo_path(ergo) %></td>
        <td><%= link_to 'Destroy', ergo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ergo', new_ergo_path %>
